<div class="homeContent">
  
  <div class="one">
    <app-gallery images="./assets/img/IMG_2288.jpg,./assets/img/IMG_2227.jpg,./assets/img/AMBA0235.jpg,./assets/img/jamesLearning.jpg"></app-gallery>
    <h1 class="scubaTitle"> At Scuba Time we aim to create Safe, 
                            Confident and Reliable PADI Scuba Divers. </h1>

    <h3>Want to know how you can become the best diver around? </h3>
    <h3>Drop us a line or scroll down to find out more </h3>
    <a class="button center" href="/learnToScubaDive#contactFoot" >Contact Us</a>
  </div>
  
  
  <div class="two">
    <h2> Courses Offered</h2>
    
    <div class="courseCard">
      <a routerLink='/scubaDivingCourses/Open-Water-Course'>
        <div class="courseImgContainer">
          <img alt="Scuba Time Team Nicola" src="../../assets/img/openWaterDiver.jpg"/>
        </div>
        <h3>Open Water</h3>
        <p>Your first step into the underwater world</p>
      </a>
    </div>
    
    <div class="courseCard">
      <a routerLink='/scubaDivingCourses/Advanced-Open-Water'>
        <div class="courseImgContainer">
          <img alt="Scuba Time Team Nicola" src="../../assets/img/advancedOpenWaterDiver.jpg"/>
        </div>
        <h3>Advanced Open Water</h3>
        <p>Continue Your journey to greater depths</p>
      </a>
    </div>
    
    <div class="courseCard">
      <a routerLink='/scubaDivingCourses/Rescue-Diver-Course'>
        <div class="courseImgContainer">
          <img alt="Scuba Time Team Nicola" src="../../assets/img/rescueDiver.jpg"/>
        </div>
        <h3>Rescue Diver</h3>
        <p>Learn to help not just yourself but others around you</p>
      </a>
    </div>

    <div class="courseCard">
      <a routerLink='/scubaDivingCourses/Divemaster-Course'>
        <div class="courseImgContainer">
          <img alt="Scuba Time Team Nicola" src="../../assets/img/diveMaster.jpg"/>
        </div>
        <h3>Dive Master</h3>
        <p>Your first step to becoming a PADI profesional</p>
      </a>
    </div>

      <a class="altButton" routerLink="/scubaDivingCourses/"> View More</a>
    
  </div>

  
  <div class="one">
    <h2 class="centerText"> What we offer</h2>
      
      <div class="offerButton" >
         <span>Safety &gt;</span>
        <p>Safety is of paramount importance to us at Scuba Time so we ensure all courses are taught to PADI and HSE standards.</p>
      </div>

      <div class="offerButton" >
         <span>Comfort &gt;</span>
        <p>We believe every dive should be done in comfort. That's why Scuba Time have invested in a range of brand new equipment to ensure you have a comfortable experience.</p>
      </div>

      <div class="offerButton" >
         <span>Reliability &gt;</span>
        <p>Rain or shine, night or day Scuba Time are always ready to dive!</p>
      </div>

      <div class="offerButton" >
         <span>Peace of mind &gt;</span>
        <p>From our school equipment to our amazing dive team, everything is designed to ensure you have the most comfortable journey possible.</p>
      </div>
    
    </div>
    
  </div>

  <div id="about" class="two">
    <h2>About Us</h2>
    <p>Scuba Time are dedicated to providing first class PADI training courses. From our dive centre we offer
      a range of courses to meet your needs and get you in the water! So whether it's to enjoy the beautiful 
      seas around the UK coastline or to jet off to warm water destinations around the world, we are here to 
      help you achieve your goals. </p>
    <br/>
    <p>We are Passionate, Professional and Reliable!</p>
    <img class="double" alt="scuba Time Dive Team" src="../../assets/img/scubaTime.jpg" />
    <img class="double" alt="scuba Time Dive Team" src="../../assets/img/scubaTime2.jpg" />
    

      <a class="altButton" routerLink="/scubaDiving/meet-the-team"> Meet The Team</a>
    

    
 </div>

<div id="servicing" class="one">
  <h3>Servicing</h3>
  <p>For All your servicing needs please contact our servicing partner Steve on 01279 466011 </p>
  <img class="double" alt="picture of regulators" src="./assets/img/regulators.jpg" />
  <img class="double" alt="picture of dive tank" src="./assets/img/diveTank.jpg" />
</div>
